#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
}
.ant-layout-header {
  background: var(--background)!important;
  padding-inline: unset!important;
  line-height: unset!important;
  display: flex;
  align-items: center;
  padding: 5px 10px!important;
  color: var(--text)!important;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.ant-layout-sider {
  background: var(--background)!important;
  color: var(--text)!important;
}
.ant-layout-content {
  background: var(--background)!important;
  color: var(--text)!important;
}
.ant-notification {
  z-index: 9999999999999;
  .msg-success, .msg-info, .msg-warning, .msg-error {
    width: 300px;
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(59, 130, 246, 0.04)!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .ant-notification-notice-close {
      position: unset;
    }
  }
  .msg-success {
    background-color: rgba(240, 253, 244, 0.95)!important;
    border: 1px solid #BBF7D0!important;
    color: #16A34A!important;
    .ant-notification-notice-message, .ant-notification-notice-icon, .ant-notification-notice-close {
      color: #16A34A!important;
    }
    .ant-notification-notice-close {
      &:hover {
        background-color: #dcfce7!important;
      }
    }
  }
  .msg-info {
    background-color: rgba(239, 246, 255, 0.95)!important;
    border: 1px solid #BFDBFE!important;
    color: #2563EB!important;
    .ant-notification-notice-message, .ant-notification-notice-icon, .ant-notification-notice-close {
      color: #2563EB!important;
    }
    .ant-notification-notice-close {
      &:hover {
        background-color: #dbeafe!important;
      }
    }
  }
  .msg-warning {
    background-color: rgba(254, 252, 232, 0.95)!important;
    border: 1px solid #FDE68A!important;
    color: #CA8A04!important;
    .ant-notification-notice-message, .ant-notification-notice-icon, .ant-notification-notice-close {
      color: #CA8A04!important;
    }
    .ant-notification-notice-close {
      &:hover {
        background-color: #fef9c3!important;
      }
    }
  }
  .msg-error {
    background-color: rgba(254, 242, 242, 0.95)!important;
    border: 1px solid #FECACA!important;
    color: #DC2626!important;
    .ant-notification-notice-message, .ant-notification-notice-icon, .ant-notification-notice-close {
      color: #DC2626!important;
    }
    .ant-notification-notice-close {
      &:hover {
        background-color: #fee2e2!important;
      }
    }
  }
}
.ant-pagination {
  .ant-pagination-prev, .ant-pagination-next, .ant-pagination-item {
    a {
      color: var(--mainColor)!important;
    }
  }
  .ant-pagination-disabled {
    a[disabled] {
      color: var(--paginationDisabled)!important;
      cursor: not-allowed;
    }
  }
  .ant-pagination-item-active {
    background-color: var(--background)!important;
    border-color: var(--mainColorHover)!important;
    &:hover {
      background-color: red!important;
    }
  }
  .ant-pagination-item {
    &:hover {
      background-color: var(--backgroundHoverPagination)!important;

    }
  }
}
.product {
  .ant-card-body {
    background-color: var(--mainBgColor)!important;
    &:hover {
      border:1px solid #c08e25!important;
    }
  }
}
.theme-dark {
  .ant-menu {
    border-inline-end: 1px solid #858080!important;
  }
}
.ant-menu {
  background: var(--background)!important;
  .ant-menu-item {
    color: var(--text)!important;
    &:hover {
      color: var(--mainColor)!important;
      background: var(--background)!important;
    }
  }
  .ant-menu-item-selected {
    color: var(--mainColorHover)!important;
    background-color: var(--select)!important;
  }
}
