:root {
  --text: #474d57;
  --text-primary: #2962ff;
  --text-weight: #424750;
  --text-color-fl: #00CCCC;
  --text-color-down: #F6465D;
  --text-color-ref: #CCAA00;
  --text-color-up: #0ECB81;
  --text-color-ce: #FF00FF;
  --bg-color-text: #f0f3fc;
  --bg-color-fl: #00CCCC;
  --bg-color-down: #F6465D;
  --bg-color-ref: #CCAA00;
  --bg-color-up: #0ECB81;
  --bg-color-ce: #FF00FF;
  --border-color: #E0E3EB;
  --ag-border: #E0E3EB;
  --bg-text-weight: #e6e8ea;
  --bg-input: #fff;
  --border-table-price: #e9e9e9;
  --background: #fafafa;
  --header-menu: #f0f1f2;
  --text-tag: #a4a4a4;
  --text-color-gold: #cdaa72;
  --background-siderbar: #fafafa;
  --bg-readonly: #a6a7a8;
  --scrollbar-color: #E0E3EB;
  --text-label: #2b3139;
}

.theme-light {
  --background: #fafafa;
  --text: #474d57;
  --text-weight: #424750;
  --bg-text-weight: #e6e8ea;
  --header-menu: #f0f1f2;
  --border-color: #E0E3EB;
  --ag-border: #E0E3EB;
  --border-table-price: #e9e9e9;
  --bg-odd-buysell: #f4f4f5;
  --bg-input: #fff;
  --text-tag: #a4a4a4;
  --text-color-gold: #CCAA00;
  --background-siderbar: #fafafa;
  --bg-readonly: #999b9e;
  --scrollbar-color: #E0E3EB;
  --text-label: #2b3139;
}

.theme-dark {
  --background: #161a1e;
  /* --text: #848e9c; */
  --text: #abb1bb;
  /* --background: rgb(30 30 30);
  --text: rgb(220 220 220); */
  --text-weight: #EAECEF;
  --bg-text-weight: #252930;
  --header-menu: #0b0e11;
  --border-color: #252930;
  --ag-border: #252930;
  --border-table-price: #222228;
  --text-primary: #1F96F2;
  --bg-input: #2b3139;
  --bg-odd-buysell: #131722;
  --text-tag: #807e7e;
  --text-color-gold: #cdaa72;
  --background-siderbar: #1e2329!important;
  --scrollbar-color: #a7a7a7;
  --text-label: #fff;
}
.color-ce {
  color: var(--text-color-ce)!important
}
.color-fl {
  color: var(--text-color-fl)!important;
}
.color-up {
  color: var(--text-color-up);
}
.color-down {
  color: var(--text-color-down);
}
.color-ref {
  color: var(--text-color-ref)!important;
}
.color-gold {
  color: var(--text-color-gold);
}
.color_name {
  color: var(--text-primary);
}
.text_gray {
  color: #5c7080;
}

.bg-ce {
  color: var(--bg-color-text);
  background-color: var(--bg-color-ce)!important;
}
.bg-fl {
  color: var(--bg-color-text);
  background-color: var(--bg-color-fl)!important;
}
.bg-up {
  color: var(--bg-color-text);
  background-color: var(--bg-color-up)!important;
}
.bg-down {
  color: var(--bg-color-text);
  background-color: var(--bg-color-down)!important;
}
.bg-ref {
  color: var(--bg-color-text);
  background-color: var(--bg-color-ref)!important;
}

.bg_gray {
  background-color: #BECCD6;
}
.bg_white {
  background-color: #fff;
}
.error {
  color: rgb(244 63 94);
}
.bg_title_head{
  background-image: linear-gradient(#fffefe, #C3C3C3);
}
.table-custom_even, .table-custom_odd {
  border-collapse: collapse;
      width: 100%;
}
.table-custom_even tr:nth-child(even) {
  background-color: #EDF2F5;
}
.table-custom_odd tr:nth-child(odd) {
  background-color: #EDF2F5;
}
.table-custom_even th, .table-custom_even td, .table-custom_odd th, .table-custom_odd td {
  padding: 5px;
  font-weight: 400;
}
.form_input {
  outline: none;
  padding: 5px;
}
hr {
  border-color: var(--border-color);
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  cursor: pointer;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  transform: translateY(0px);
  border-radius: 10px;
}
* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
html {
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: var(--text);
}
body {
  color: var(--text);
  /* height: calc(100vh - 62px); */
  margin: 0;
  padding: 0;
}

.header-menu {
	height: 62px;
	background-color: var(--header-menu);
}
.header-menu .icon-logo {
  margin: 0 0.5rem;
}
.header-menu .icon-logo svg {
  color: var(--text);
}
.header-menu .router-link-active {
  color: var(--text-weight);
  font-weight: 600;
}
.header-menu .logo img {
    width: 150px;
    height: auto;
}
.header-menu .tag {
  color: var(--text);
  margin-left: 8px;
  margin-right: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.header-menu .tag .name-tag {
  font-weight: 500;
}
.header-menu .tag .name-tag svg {
  width: 18px;
  color: #707A8A;
}
.header-menu .tag .name-tag ul.sub-menu {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
  display: none;
}
.header-menu .tag .name-tag ul.sub-menu li {
  padding: 5px 0;
}
.header-menu .tag .name-tag a:hover,
.header-menu .tag .name-tag i.pi-chevron-down:hover {
  color: var(--text-primary)
}

.header-menu .box-right input {
  width: 220px;
  background-color: var(--bg-input);
  border-color: var(--bg-input);
  border-radius: 15px;
  /* padding-left: 2.5rem; */
}
.header-menu .box-right .dark-light {
  background-color: transparent !important;
  border: none;
}
.header-menu .box-search {
  border-radius: 20px;
  border: 1px solid #9d8989;
  display: flex;
  align-content: center;
  padding-left: 5px;
}
.header-menu .box-search input {
  border-radius: 20px;
  width: 58px;
}
.header-menu .login-form .avatar-user .avatar-user_img { 
  width: 20px;
  height: auto;
}


/* APP Center */
.layout-app {
  color: var(--text);
	margin-top: 62px;
	height: calc(100vh - 62px);
  overflow: hidden;
}
.layout-app .stock-code {
  cursor: pointer;
}