:root {
  --mainBgColor: #f6f1e3;
  --mainColor: #C08E25;
  --mainColorHover: #96701F;
  --text: #474d57;
  --select: #454545;
}

.theme-light {
  --background: #fff;
  --mainColor: #C08E25;
  --mainColorHover: #96701F;
  --text: #474d57;
  --select: #e5e5e5;
}

.theme-dark {
  --background: #252728;
  --mainColor: #efb742;
  --mainColorHover: #d7aa48;
  --text: #abb1bb;
  --select: #454545;
}